.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  }
  
  .search-bar-container {
    flex: 1;
    padding: 20px;
  }

  .property-list-container {
    flex: 2;
    padding: 20px;
  }
  /* Add more styles as needed */
  