.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  
  

.msg-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
  }
  
  .login-card p {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .password-links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .password-links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .password-links a:hover {
    color: #0056b3;
  }

  
  .error-message {
    color: red;
    margin-top: 10px;
  }