.property-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  height: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.property-image {
  max-height: 200px;
  overflow: hidden;
}

.property-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 3;  /*Allow the details section to expand to fill available space*/
  padding: 10px;
}

.property-details {
  margin-bottom: 10px;
}



.property-sales,
.property-rent,.property-area {
  color: #555;
  font-weight: bold;
}

.property-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure buttons stay within property card */
  padding-top: 10px; /* Add padding for space above the buttons */
}

.property-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 30px; /* Add margin between the buttons */
  border-radius: 4px;
  cursor: pointer;
}





.property-stats {
  display: grid;
  grid-template-columns: auto auto auto; /* Create three columns */
  font-size: 14px;
  color: #555;
  gap: 10px; /* Add spacing between columns */
}

.property-stat-label {
  font-weight: bold;
}

.property-stat-value {
  white-space: nowrap; /* Prevent text from wrapping */
}

.property-details {
  margin-bottom: 10px;
}

.property-name-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.property-name {
  font-weight: bold;
}

.property-location {
  color: #555;
}
/* Adjust other styles as needed */
